{% extends 'base.html.twig' %}

{% block title %}Gestion des produits{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center m-4">Gestion des produits</h1>
    <table class="table table-dark table-striped">
        <tr>
        <th>id</th>
        <th>code</th>
        <th>description</th>
        <th>prix</th>
        <th>stock</th>
        <th>image</th>
            <th>editer</th>
        </tr>
        {% for articles in article %}
        <tr>
            <td>{{ articles.id }}</td>
            <td>{{ articles.code }}</td>
            <td>{{ articles.description }}</td>
            <td>{{ articles.prix }}</td>
            <td>{{ articles.stock }}</td>
            <td>{{ articles.image }}</td>
            <td> <a href="{{ path('app_edit_article' , { id : articles.id }) }}">Editer</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
