{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}


    <div class="container">


        {% for items in facture %}
            <h2 class="text-center">Commande du  {{ items.0}}</h2>
            {% for item in items.1  %}
        <ul>
            <li>Article : {{ item.description }}</li>
            <li>Quantité : {{ item.quantite }} </li>
            <li>Prix {{ item.prix * item.quantite }} €</li>
        </ul>
        {% endfor %}
            <hr>
            <p>Total : {{ items.2 }}€</p>
            <hr>
        {% endfor %}

    </div>

{% endblock %}
